.panda-slider-background{
    background-color: #fceae8;
}
.catagorious-img{
    width: 100px;
    background-color: #ffa500;
}
.catagorious-images-two{
    width: 100px;
    background-color: #da70d6;
}
.catagorious-images-three{
    width: 100px ;
    background-color: #00f;
}
